# Copia como deploy/deploy.env (no se sube a git)
DEPLOY_HOST=root@13.140.160.248
REMOTE_APP_DIR=/root/apps/matupdf
PM2_PORT=3088
DOMAIN=matupdf.matubyte.com

MATUDB_URL=https://db.matudb.com
MATUDB_PROJECT_ID=963e4078-cc47-41bd-9c25-5017513d954f
MATUDB_API_KEY=mb_tu_api_key_aqui
